@model GuideToLodz.Models.Trip

@{
    ViewBag.Title = "Create";
}

<style>
    checkboxes.p{
        color:#D7DEEB;
        font-size:12px;
        font-weight:bolder;
    }
</style>

<h2 class="col-md-offset-4 col-md-10">Create new place</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-12">
        <div class="col-md-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <p class="control-label col-md-3"style="text-align:left">Name</p>
              <!--  @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2"}) -->
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }})
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-3" style="text-align:left">Location</p>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Localisation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Localisation, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <p class="control-label col-md-3" style="text-align:left">Price</p>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <p class="control-label col-md-3" style="text-align:left">Time to spend</p>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.SuggestedTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SuggestedTime, "", new { @class = "text-danger" })
                </div>
            </div>
          


        </div>
        <div class="col-md-6" style="padding-top:35px">
            <div class="col-md-4">
                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Is for Kids?</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsForKids)
                            @Html.ValidationMessageFor(model => model.IsForKids, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Near to centre?</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsInCentre)
                            @Html.ValidationMessageFor(model => model.IsInCentre, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Gourmet</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsGourmet)
                            @Html.ValidationMessageFor(model => model.IsGourmet, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Historical</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsHistorical)
                            @Html.ValidationMessageFor(model => model.IsHistorical, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Recreation</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsRecreational)
                            @Html.ValidationMessageFor(model => model.IsRecreational, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Culture</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsCultural)
                            @Html.ValidationMessageFor(model => model.IsCultural, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Sport</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsSport)
                            @Html.ValidationMessageFor(model => model.IsSport, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Is Winterish?</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsWinterish)
                            @Html.ValidationMessageFor(model => model.IsWinterish, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p class="control-label col-md-9" style="text-align:left">Is Summerish?</p>
                    <div class="col-md-3">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsSummerish)
                            @Html.ValidationMessageFor(model => model.IsSummerish, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        
    </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new {@class="btn btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
